.account-page {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.panel {
  width: 250px; /* Adjust width as needed */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
}

.panel-button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  text-align: left;
}

.panel-button:hover {
  background-color: #367c39;
}

.profile {
  text-align: center;
}

.avatar {
  position: relative;
  margin-bottom: 20px;
}

.header-profile-avatar {
  color: #030303;
  fill: #030303;
  position: relative;
  margin-bottom: 20px;


  width: 100px; 
  height: 100px; 
  border-radius: 50%; 
}

.avatar img {
  width: 100px; /* Adjust size as needed */
  height: 100px;
  border-radius: 50%;
}

.upload-button {
  position: absolute;
  bottom: 0;
  right: 0;
  /* Styling for upload button */
}

.contact-admin-button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.contact-admin-button:hover {
  opacity: 0.8;
}
